@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 66%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0, 59%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}

.container {
  margin: 3rem 1rem;
}

.container img {
  padding: 1rem 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__title {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.header__title--spam {
  color: #969696;
  font-weight: 300;
}

.header__paragraph {
  font-size: 0.85rem;
  padding: 1rem 0 2rem 0;
}

.header__form--button {
  padding: 12px 20px;
  width: 100%;
  max-width: 100%;
  background-color: var(--blue);
  border-radius: 20px;
  border: 0;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  margin: 0.8rem 0;
}

.header__form--button:hover {
  background-color: var(--pale-blue);
  -webkit-box-shadow: 0 1px 5px var(--pale-blue);
          box-shadow: 0 1px 5px var(--pale-blue);
}

.header__form .error input {
  border: 1px solid var(--light-red);
}

.header__form .error small {
  display: block;
  font-style: italic;
}

.header__form input {
  padding: 12px 20px;
  border: 1px solid #c2d3ff;
  border-radius: 20px;
  width: 100%;
  max-width: 100%;
}

.header__form--control small {
  color: var(--light-red);
  position: relative;
  display: none;
  font-size: 0.8rem;
  padding: 5px 0;
}

.header__img--img {
  width: 100%;
  padding: 0 2.5rem;
}

.header__icons {
  color: var(--blue);
  cursor: pointer;
  text-align: center;
  padding: 10rem 0 0;
}

.header__icons > i {
  margin: 0rem;
  padding: 0.8rem;
  border-radius: 100px;
  border: 1px solid #e6f1ff;
}

.header__icons > i:hover {
  color: #ffffff;
  background-color: var(--blue);
}

.header__copyright {
  font-size: 0.8rem;
  text-align: center;
  color: #969696;
  padding: 3.5rem 0;
  font-weight: 300;
}

@media (min-width: 490px) {
  .header__title {
    font-size: 2.4rem;
  }
  .header__paragraph {
    padding: 0 0 1rem;
    font-size: 1rem;
  }
  .header__form {
    margin: 0.8rem 0;
  }
  .header__form--control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__form--control small {
    position: absolute;
    top: 285px;
    font-size: 0.7rem;
    font-weight: 300;
    padding: 0 0 0 33px;
  }
  .header__form--button {
    width: 130px;
    margin: 0;
  }
  .header__form input {
    width: 300px;
    margin: 0 0.8rem;
  }
}

@media (min-width: 640px) {
  .header__img--img {
    width: 75%;
    padding: 0 3rem;
  }
  .header__form--button {
    width: 150px;
    margin: 0;
  }
  .header__form input {
    width: 330px;
    margin: 0 0.8rem;
  }
}

@media (min-width: 768px) {
  .header__img--img {
    width: 60%;
    padding: 0 3rem;
  }
  .header__icons {
    padding: 5rem 0 0;
  }
}

@media (min-width: 1024px) {
  .header__img--img {
    width: 50%;
    padding: 0 3rem;
  }
}

@media (min-width: 1280px) {
  .header__img--img {
    width: 50%;
    padding: 0 3rem;
  }
  .header__form--button {
    width: 160px;
    margin: 0;
  }
  .header__form input {
    width: 350px;
    margin: 0 0.8rem;
  }
}
/*# sourceMappingURL=main.css.map */