@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 66%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0, 59%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
